.box h3 {
  color: blue;
  font-weight: bold;
  text-align: center;
}
.box p {
  color: red;
  font-weight: bold;
}
.box {
  background-color: black;
  width: 50%;
  border: 5px solid green;
  padding: 2%;
  margin: auto;
  border-radius: 10px;
}
